{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="form-page">

    <!-- Order Summary -->
    <div style="margin-bottom: 20px;">
        <h2><strong>Order Summary</strong></h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price * item.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><strong>Total</strong>: ${{ total_price }}</p>
    </div>


    <!-- Shipping Information Form -->
    <div>
        <p><strong>Shipping Information Summary:</strong></p>
        <p>----------------------------------------------</p>
        <p><strong>Full Name:</strong> {{ shipping_info.name }}</p>
        <p><strong>Email:</strong> {{ shipping_info.email }}</p>
        <p><strong>Address:</strong> {{ shipping_info.address }}</p>
        <p><strong>City:</strong> {{ shipping_info.city }}</p>
        <p><strong>State/Province:</strong> {{ shipping_info.state_province }}</p>
        <p><strong>Zip Code:</strong> {{ shipping_info.zipcode }}</p>
        <p><strong>Country:</strong> {{ shipping_info.country }}</p>
        <p><strong>Phone Number:</strong> {{ shipping_info.phone }}</p>
    </div>

    <!-- Stripe Checkout Button -->
    <section class="section">
        <div class="container">
        <button class="button is-primary" id="submitBtn">Pay Now</button>
        </div>
    </section>
</div>
{% endblock %}