{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4">
            <a href="{{ url_for('product_details', id=product.id) }}">
                <img src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="Product Image">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: ${{ product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}