{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="form-page">
    <h1 class="form-heading" style="margin-bottom: 20px;"><strong>Your order was succesfull!</strong></h1>
    <!-- Order Summary -->
    <div style="margin-bottom: 20px;">
        <h2><strong>You have ordered:</strong></h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price * item.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><strong>Total</strong>: ${{ total_price }}</p>
    </div>


    <!-- Shipping Information Form -->
    <div>
        <p><strong>Your order is being send to:</strong></p>
        <p> {{ shipping_info.name }}</p>
        <p> {{ shipping_info.address }}</p>
        <p> {{ shipping_info.zipcode }}, {{ shipping_info.city }}</p>
        <p> {{ shipping_info.state_province }}, {{ shipping_info.country }}</p>
    </div>
</div>
{% endblock %}